# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
GUI/node_modules
GUI/.pnp
GUI/.pnp.js

# testing
GUI/coverage

# production
GUI/build

# misc
GUI/.DS_Store
GUI/.env.local
GUI/.env.development.local
GUI/.env.test.local
GUI/.env.production.local

GUI/npm-debug.log*
GUI/yarn-debug.log*
GUI/yarn-error.log*

Backend/.idea
